@model ExpressVoituresWebApp.Data.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResellDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResellDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Vin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
